<div class="row m-b-20">

  <div class="col-xs-12">

    <form name="user-form" class="forms-responsive">

      <div class="row p-20 p-l-50 p-r-50 control-group">

        <div class="row">
          <div class="col-xs-12">
            <h3 class="m-b-20 capitalize">{{user.name}}
              {{user.surname}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10">
            <h4 class="pull-left m-r-20 capitalize">
              <i class="zmdi zmdi-pin m-r-10"></i>{{user.country}}
            </h4>
            <h4 class="pull-left m-r-20">
              <i class="zmdi zmdi-account-o m-r-10"></i>{{user.email}}
            </h4>
          </div>

        </div>
      </div>

      <div class="row m-t-20">

        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">

          <div class="card bs-card">
            <div class="card-block">
              <div class="row">
                <h4 class="m-b-20">
                  <i class="zmdi zmdi-book m-20"></i>Info user
                </h4>
                <div class="col-xs-12 col-md-3">
                  <div class="form-group floating-labels">
                    <label for="user-username">User name</label>
                    <input id="user-username" class="form-control disabled" type="text" name="username" [(ngModel)]="user.username" autofocus disabled>
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="form-group floating-labels">
                    <label for="user-name">Name</label>
                    <input id="user-name" class="form-control" type="text" name="name" [(ngModel)]="user.name">
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="form-group floating-labels">
                    <label for="user-surname">Surname</label>
                    <input id="user-surname" class="form-control" type="text" name="surname" [(ngModel)]="user.surname">
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="form-group floating-labels">
                    <label for="user-email">Email</label>
                    <input id="user-email" class="form-control" type="text" name="email" [(ngModel)]="user.email">
                  </div>
                </div>

                <div class="col-xs-6 col-md-2">
                  <label class="m-lr-10">Country</label>
                  <div class="dropdown">
                    <a class="btn btn-info btn-rounded dropdown-toggle uppercase" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user.country}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-scale from-right" id="user-country">
                      <a class="dropdown-item uppercase" *ngFor="let country of userCountries" (click)="setDropdownValue('country',country)">{{country}}</a>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="row">
              <div class="form-group text-center m-20">
                <button type="submit" class="btn btn-primary" (click)="updateUser()">Save</button>
              </div>
            </div>

          </div>
        </div>

      </div>

    </form>

  </div>
</div>
