<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.title %>">
    <% if (webpackConfig.htmlElements.headTags) { %>
      <!-- Configured Head Tags  -->
      <%= webpackConfig.htmlElements.headTags %>
    <% } %>
    <!-- base url -->
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  </head>

  <body>

    <app>
      <div id="preloader"><div></div></div>
    </app>

    <!-- Endpoint URLs -->
    <script>
        window._gaId = '<%= htmlWebpackPlugin.options.metadata.analytics %>';
        window.fooApi = '<%= htmlWebpackPlugin.options.metadata.tmsApi %>';
        window.loginUrl = '<%= htmlWebpackPlugin.options.metadata.loginUrl %>';
    </script>

    <!-- Google Analytics -->
    <script>
      !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=g;A[g]||(A[g]=function(){
      (A[g].q=A[g].q||[]).push(arguments)});A[g].l=+new Date;a=n.createElement(u);
      r=n.getElementsByTagName(u)[0];a.src=l;r.parentNode.insertBefore(a,r)}
      (window,document,'ga','script','//www.google-analytics.com/analytics.js');
    </script>

    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
      <!-- Webpack Dev Server reload -->
      <script src="/webpack-dev-server.js"></script>
    <% } %>

  </body>
</html>
